#
# Centralised Auth-Gateway which integrates with Traefik through forward-middleware.
#
# To learn more about the centralised auth-gateway, please refer to:
# https://cognigy.visualstudio.com/Cognigy.AI/_git/cognigy?path=/services/service-api/src/authGateway/README.md&_a=preview
#
{{ if .Values.serviceApi.serviceAuthGateway.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: service-auth-gateway
  namespace: {{ $.Release.Namespace | quote }}
  labels:
    app: service-auth-gateway
    owner-team: boron
  annotations:
    {{- if .Values.service.serviceAuthGateway.annotations }}
      {{- toYaml .Values.service.serviceAuthGateway.annotations | nindent 4 }}
    {{- end }}
spec:
  ports:
    - name: service-auth-gateway
      port: 8000
      targetPort: 8000
      protocol: TCP
  selector:
    app: service-auth-gateway
{{- end }}